.desapego {
    background-color: whitesmoke;
    padding-top: 25px;
}

.padding-des {
    padding-left: 16px;
    color: #212529;
    font-size: 24px;
    font-weight: 600;
}

.padding-des:hover {
    text-decoration: none;
    background-color: transparent;
}

.col-lg-3 {
    padding-right: 10px !important;
    padding-left: 10px !important;
}

.aling-card {
    
    flex-wrap: wrap;
}

.padding-mid{
    display: flex;
    padding-top: 40px;
    padding-bottom: 40px;
    margin: auto;
}

.exposure {
    width: 278px;
    min-width: 223px !important;
    height: 360px;
    margin-bottom: 20px;
}

.img-wrap {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-img-top {
    width: auto !important;
    max-height: 187px;
    max-width: 187px;
    margin-top: 10px;
}

.card:hover {
    box-shadow: 0 4px 15px rgba(153, 153, 153, 0.3);
    transition: .3s;
}

.info-wrap {
    padding: 5px 16px;
    display: flex;
}

.info-interest {
    padding: 5px 16px;
    display: flex;
    justify-content: center;
}

.info-title-item {
    padding: 5px 25px;
    font-size: 20px;
    font-weight: 600;    
}

.title-item {
    color: #222835;
    display: block;
}

.title-item:hover {
    text-decoration: none;
    background-color: transparent;
}

.icon {
    position: relative;
    margin-right: 10px;
    flex-shrink: 0;
    flex-grow: 0;
}

.img-xs {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.text-muted {
    color: #969696 !important;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 20ch;
    overflow: hidden;
}

.text-muted:hover {
    text-decoration: none;
    background-color: transparent;
}

.border-user {
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-right-width: 0px;
    border-left-width: 0px;
    border-style: solid;
    border-color:rgba(0, 0, 0, 0.125);
}

.interest {
    top: 0px;
    text-align: center;
    position: relative;
}

.bar-int {
    font-size: 14px;
    padding: 5px;
    margin: 0px;
}

.interest::after{
    content: '';
    position: absolute;
    left: 0px;
    right: 0px;
    top: 26px;
    bottom: 0px;
    margin: auto;
    height: 1px;
    width: 80%;
    background-color: rgba(0, 0, 0, 0.125);
}

.wish-1 {
    height: 70px;
    width: 70px;
    margin-right: 8px;
    margin-bottom: 0px;
    position: relative;
    display: flex;
    align-items: center;
}

.wish-2 {
    height: 70px;
    width: 70px;
    margin-right: 8px;
    margin-left: 8px;
    margin-bottom: 0px;
}

.wish-3 {
    height: 70px;
    width: 70px;
    margin-left: 8px;
    margin-bottom: 0px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.aling-interest {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}

.img-wish {
    width: 100%;
}

.img-wish:hover {
    border: solid 2px transparent;
}

.img-wish-3 {
    height: 100%;
    width: 100%;
    opacity: 0.5;
}

.wish-3:hover {
    opacity: 1;
    
}

.fa-plus {
    position: absolute;
    font-size: 28px !important;
    color: rgb(114, 107, 107);
}

.fa-plus:hover {
    border: solid 1px transparent;
}

@media (min-width: 1350px){
    .container{
        max-width: 1230px !important;
    }   
}
@media (max-width: 1240px){
    .exposure {
        min-width: auto !important;
        width: auto;
        height: 340px;
    }
    .wish-1 {
        width: 48px;
        height: 48px;
    }
    .wish-2 {
        width: 48px;
        height: 48px;
    }
    .wish-3 {
        width: 48px;
        height: 48px;
    }
}

@media (max-width: 576px) {
    .wish-1 {
        width: 70px;
        height: 70px;
    }
    .wish-2 {
        width: 70px;
        height: 70px;
    }
    .wish-3 {
        width: 70px;
        height: 70px;
    }
    .exposure {
        height: 360px;
    }
    .info-interest {
    position: relative;
    align-items: center;
    justify-content: center;
    }
}


