* {
    outline: none;
}
.header {
    padding: 15px 0;
    background-color: white;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.5);
    top: 0;
    z-index: 2;
}

input {
    border-top-color: #ced4da !important;
    border-bottom-color: #ced4da !important;
    border-left-color: #ced4da !important;
    border-right-color: #ced4da !important;
}
.flex {
    display: flex;
    align-items: center;
    justify-content: end;
}

.logo {
    margin: 0px auto 0px 0px;
    min-width: 116px;
}

.fa-search {
    position: relative;
    right: 0px;
}

.sep-button {
    border: none;
    position: absolute;
    right: 10px;
    background-color: transparent;
}

.sep-button:after {
    content: '';
    position: absolute;
    left: -8px;
    top: 0px;
    bottom: 0px;
    margin: auto;
    height: 100%;
    width: 1px;
    background-color: rgba(0, 0, 0, 0.125);
}

#nav-header-menu {
    text-align: right;
    
}

.nav-link {
    padding: 5px 0px 5px 40px !important;
    color: black;
}

.icon-sign {
    display: flex;
    align-items: center;
}

.dropdown-item {
    display: flex !important;
    align-items: center;
}

.fp-icon, .fp-icon-c {
    margin-left: auto;
}

.fp-icon {
    font-size: 24px !important;
}

.fp-icon-c {
    font-size: 20px !important;
}

.active-cyan-2 input.form-control[type=text] {
    width: 550px;
    height: 35px;
    margin-left: 40px;
}
.active-cyan-2 input.form-control[type=text]:focus:not([readonly]) {
    border-bottom-color: var(--border-color-focus);
    box-shadow: var(--box-shadow-colorfull);
  }

.padding-y{
    padding-top: 40px;
    padding-bottom: 40px;
}

.carousel-item {
    width: 1200px;
}

.d-flex {
    position: relative;
}


.margin-busca {
    margin: 0px;
    padding-right: 55px !important;
    width: 100%;
}

/* responsive */
@media(max-width: 1000px) {
    .active-cyan-2 input.form-control[type=text] {
        width: 500px;
    }
}

@media(max-width: 938px) {
    .flex {
        display: flex;
        flex-wrap: wrap;
    }

    .logo {
        margin: 0px auto 20px 0px;
    }

    .form-inline {
        order: 1;
        width: 100%;
    }

    .active-cyan-2 input.form-control[type=text] { 
        width: 100%;
        margin: 0px;
    }
}




